h1{color:Blue; font-size:70px;
	
}
body{background-color:brown;
	
}

h3{background-color:Lightblue;font-size:40px;
border-style: solid;
border-color: Blue;
border-width: 3px 3px 3px 3px;	
}