body{background-color:Gold;
	
}
h1{font-size:30px;
	
}
h3{font-size:20px;
	
}

h5{background-color: Beige;font-size:21px;
border-style: solid;
border-color: Green;
border-width: 3px 3px 3px 3px;
	
}

h6{font-size:30px;
	
}

h7{font-size:50px;
	
}