h1{font-size:40px;color:Red;
	
}
h2{font-size:20px;
	
}
h3{font-size:20px;background-color:Lightblue;
border-style: solid;
border-color: Red;
border-width: 3px 3px 3px 3px;
}
h5{font-size:30px;color:Red;
	
}

h6{font-size:30px;color:Red;
	
}