h1{font-size:40px;color:Blue;
	
}
body{background-color:Beige;
	
}

h2{font-size:30px;
	
}

h3{background-color:Lightblue;
border-style: solid;
border-width: 3px 3px 3px 3px;	
}
h4{font-size:30px
	
}

h5{font-size:30px;
	
}