h1{color:Red;font-size:60px;
	
}
body{font-size:30px;color:Black;background-color:Yellow;font-style: italic;
}
h2{font-size:30px;background-color:Blue;color:White;
border-style: solid;
border-color: Red;
border-width: 3px 3px 3px 3px;	

}
h3{background-color:White;
	
}